.imageCaption {
    font-size: 16px;
    color: #51575E;
}

.image-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0px 48px;
    overflow: hidden;
    max-height: 700px;
  }

.workImage {
    aspect-ratio: auto;
    max-width: 1100px;
    max-height: 500px;
    margin:0px 48px;
    overflow: hidden;
}

.workFullImage {
    width: 100%;
    /* aspect-ratio: auto; */
    max-width: 1400px;
    object-fit: contain; 
    border-radius: 24px;
    overflow: hidden;
    display: flex;
}

@media screen and (max-width: 600px){
    .imageCaption {
        font-size: 13px;
    }
}