@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");


  .menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    gap: 28px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    padding : 28px 48px;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    
  }

  .defaultMenu {
    color: #222429;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 500;
    text-decoration-line: none;
  }

  .slectedMenu {
    color: #222429;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 700;
    text-decoration-line: none;
  }

  .logo {
    width: 60px;
    height: 24px;       
    flex-shrink: 0;
  }
  .workContentslist {
    padding : 80px 48px;
    gap: 100px;
    display: flex;
    flex-direction: column;
  }
  .contents {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    align-self: stretch;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
  }

  .projectThumbnail {
    width: 100%;
    aspect-ratio: 100/64 auto;
    border-radius: 18px;
    background-color: #e5e5e5;
    flex-shrink: 0;
  }

  .projectContents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .projectSubtitle {
    color: #131517;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .projectTitle {
    color: #131517;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .projectDescription {
    color: #9AA0A7;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    
  }

  .projectPeriod {
    color: #51575E;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .aboutContents {
    padding: 120px 48px;
    gap: 28px;
    flex-direction: column;
    display: flex;
  }

  .aboutExperienceList {
    gap : 60px;
    padding-top : 100px;
    padding-bottom : 100px;
    flex-direction: row;
    display: flex;
  }

  .aboutTitle {
    color: #131517;
    font-family: Pretendard;
    font-size :54px;
    font-style : normal;
    font-weight: 700;
    line-height: 151.8%;
  }

  .aboutIntro {
    color: #fff;
    font-family: inktrap;
    font-size :86px;
    line-height: 140%;
  }

  @font-face {
    font-family: "inktrap";
    src: url("./font/AnyConv.com__PPNeueMachina-InktrapRegular.woff") format('woff');
  }

  .aboutDescription {
    color: #3A3E44;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%;
  }

  .divider1 {
    color : #E6E9ED;
    stroke-width: 1px;
    height: 0px;
    align-self: stretch;
  }

  .aboutContactList {
    flex-direction: column;
    display: flex;
    gap : 16px;
  }
  
  .aboutContactListItem {
    color: #3A3E44;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }

  .aboutExperienceListTitle {
    flex-direction: column;
    width : 240px;
    display: flex;
    gap: 6px;
  }

  .decorateFont {
    font-family: Inktrap;
  }
