body {
    font-family: 'Pretendard';
  }
  .menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    gap: 28px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    padding : 28px 48px;
    justify-content: space-between;
    align-items: center;    
  }

  .defaultMenu {
    color: #222429;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 500;
  }

  .slectedMenu {
    color: #222429;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 700;
  }

  .logo {
    width: 60px;
    height: 24px;       
    flex-shrink: 0;
  }