
  .menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    gap: 28px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    padding : 28px 48px;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    
  }

  .defaultMenu {
    color: #222429;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 500;
    text-decoration-line: none;
  }

  .slectedMenu {
    color: #222429;
    font-size: 15px;
    font-family: 'Pretendard';
    font-weight: 700;
    text-decoration-line: none;
  }

  .logo {
    width: 60px;
    height: 24px;       
    flex-shrink: 0;
  }
  .contentslist {
    padding : 80px 48px;
    gap: 100px;
    display: flex;
    flex-direction: column;
  }
  .contents {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    align-self: stretch;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex: 1 0 0;
  }

  .thumbnail {
    width: 100%;
    aspect-ratio: 100/64 auto;
    border-radius: 18px;
    background-color: #e5e5e5;
  }

  .contentsText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .subtitle {
    color: #51575E;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .title {
    color: #131517;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .description {
    color: #9AA0A7;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    
  }
